.pol1{
    font-family: "Roboto";
}
.pol2{
    font-family: "Orbitron";
}

.carousel-caption{
    font-family: "Orbitron";
}


.c1 {
    color: #fb0090;
}


.nav-link {
    font-family: "Orbitron";
}

.promotion {
    text-decoration: line-through;
}


.card{
    border: none;
}

.card-img{
    width:100%;
    height:100%;
   
}
.card-img:hover{
    transform: scale(1.06);
}

.gras{
    font-weight: bold;
}
footer{
    background-color: #222222;
}

.underline{
    text-decoration: underline;
}

